body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Home */
  .home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
    color: #333;
    font-size: 2rem;
  }
  
  /* 403 */
  .forbidden-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #721c24;
    font-size: 2rem;
  }
  
  /* 404 */
  .not-found-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff3cd;
    color: #856404;
    font-size: 2rem;
  }
  